body {
    background-color: rgb(56, 54, 54);
    color: white;
    margin: auto 0;
    text-align: center;
}
h1 {
    padding: 1em;
}
nav {
    font-size: 150%;
    color: white;
}
nav a {
    margin: 0 auto;
    padding: 1em;
    text-decoration: none;
}
nav a:visited {
    color: white;
}
nav a:hover {
    background-color: white;
    color: #8B0101;
}
img { 
    padding: 2em
}
p {
    font-size: 150%;
}

/* Media query - must always be the last thing in a CSS code - helps adjust webpage based on device being used */
@media screen and (max-width: 900px) {
    nav {
        font-size: .5em;
    } 
    img {
        width: 100%;
    }
}