@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap');

:root {
    --heading-font: "Permanent Marker", cursive, "Brush Script MT";
    --paragraph-font: Overpass, Helvetica, sans-serif;
}


/* Page Setup */
body {
    background-color: #ced3dc;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
div #content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #8aabd4;
}

/* Header Section */
header {
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
    z-index: 1;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title {
    margin-top: 10px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    align-self: center;
    justify-self: center;
    color: #0D3B91;
    font-size: 150%;
    margin: 1em;
    text-decoration: none;
    font-family: var(--paragraph-font);
    padding: .5em;
}
nav a:hover {
    background-color: #535E72;
    color: white;
}
.logo {
    width: 80px;
    padding: 30px;
}

/* Form */
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;
}
.moveDown {
    margin-top: 3em;
}
form {
    margin: auto 0;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 5em;
}
.button {
    padding-left: 90px;
}
button {
    margin-left: .5em;
}


/* Footer */
footer {
    background-color: #0D3B91;
    color: white;
    font-size: 120%;
    font-family: var(--paragraph-font);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p a {
    color: white;
    display: inline;
    text-decoration: none;
}
footer p a:hover {
    background-color: white;
    color:#535E72;
    text-decoration: underline; 
}
footer .social img {
    padding-top: 15px;
}