body {
    width: 900px;
    background-color: white;
}
li img {
    width: 900px;
    margin-bottom: -18px;

}
p img {
    border-radius: 50%;
    width: 190px;
    border: 10px solid rgb(58, 58, 58);
    padding: 0px;
    margin: 40px;
}
p {
    background-color: gray;
}